body {
	background-image: url("bg2.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
	text-decoration: none;
	animation-name: colors;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#logo {
	margin: 10px;
	display: inline-block;
}

#title {
	margin: 5px;
	font-family: 'Permanent Marker';
	font-size: 50px;
	text-shadow: 3px 3px black, -1px -1px white;
	
	animation-name: colors;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#text {
	margin: 5px;
	font-family: 'Bubblegum Sans';
	font-size: 40px;
	text-shadow: 2px 2px black;
	
	animation-name: colors_light;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-delay: -15s;
}

@keyframes colors {
    0%, 100% {color: hsl(0, 70%, 70%);}
    5%  {color: hsl(18, 70%, 70%);}
    10% {color: hsl(36, 70%, 70%);}
    15% {color: hsl(54, 70%, 70%);}
    20% {color: hsl(72, 70%, 70%);}
    25% {color: hsl(90, 70%, 70%);}
    30% {color: hsl(108, 70%, 70%);}
    35% {color: hsl(126, 70%, 70%);}
    40% {color: hsl(144, 70%, 70%);}
    45% {color: hsl(162, 70%, 70%);}
    50% {color: hsl(180, 70%, 70%);}
    55% {color: hsl(198, 70%, 70%);}
    60% {color: hsl(216, 70%, 70%);}
    65% {color: hsl(234, 70%, 70%);}
    70% {color: hsl(252, 70%, 70%);}
    75% {color: hsl(270, 70%, 70%);}
    80% {color: hsl(288, 70%, 70%);}
    85% {color: hsl(306, 70%, 70%);}
    90% {color: hsl(324, 70%, 70%);}
    95% {color: hsl(342, 70%, 70%);}
}

@keyframes colors_light {
    0%, 100% {color: hsl(0, 60%, 90%);}
    5%  {color: hsl(18, 60%, 90%);}
    10% {color: hsl(36, 60%, 90%);}
    15% {color: hsl(54, 60%, 90%);}
    20% {color: hsl(72, 60%, 90%);}
    25% {color: hsl(90, 60%, 90%);}
    30% {color: hsl(108, 60%, 90%);}
    35% {color: hsl(126, 60%, 90%);}
    40% {color: hsl(144, 60%, 90%);}
    45% {color: hsl(162, 60%, 90%);}
    50% {color: hsl(180, 60%, 90%);}
    55% {color: hsl(198, 60%, 90%);}
    60% {color: hsl(216, 60%, 90%);}
    65% {color: hsl(234, 60%, 90%);}
    70% {color: hsl(252, 60%, 90%);}
    75% {color: hsl(270, 60%, 90%);}
    80% {color: hsl(288, 60%, 90%);}
    85% {color: hsl(306, 60%, 90%);}
    90% {color: hsl(324, 60%, 90%);}
    95% {color: hsl(342, 60%, 90%);}
}